body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

.text-center {
    text-align: center;
}

.input-textarea {
    font-size: 20px;
    resize: none;
    padding: 10px;
    width: 90%;
}

.output {
    border: 1px solid #aaa;
    min-height: 100px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
    font-family: monospace;
}